@model Training.Models.Training.resetPassword
@{ 
	ViewData["Title"] = "Change your password";
	Layout = "~/Views/Shared/MyLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body style="background-color: lightblue">
	<h5>Change Password</h5>
	@using (Html.BeginForm("ResetPassword", "TraineeHome", FormMethod.Post))
	
	{
		<form class="form-group" action="TraineeHome/ResetPassword" method="post">
			<div style="padding-left: 400px; padding-right: 400px">
				<div >
					@Html.LabelFor(model => model.password, "Your old password")
					@Html.EditorFor(model => model.password)
					@Html.ValidationMessageFor(model => model.password)
				</div>


				<div >
					@Html.LabelFor(model => model.newPassWord, "Your new password")
					@Html.EditorFor(model => model.newPassWord)
					@Html.ValidationMessageFor(model => model.newPassWord)
				</div>


				<div >
					@Html.LabelFor(model => model.ReturnPassWord, "Return your new password")
					@Html.EditorFor(model => model.ReturnPassWord)
					@Html.ValidationMessageFor(model => model.ReturnPassWord)
				</div>


				<input class="mt-1 btn btn-primary" type="submit" value="Submit" />
				@Html.ActionLink("Back", "Index", "TraineeHome")
			</div>
</form>
	}
	
</body>
</html>